<form id="tableForm" action="/compare" method="get">
    <select class="selectpicker" data-style="btn-info" name="selectpicker1">
        <optgroup label="Select Device">
            <option name="" value="0">Select Device</option>
            <option name="table1" value="1">WT7600HWA</option>
            <option name="table2" value="2">GTW840CSNWS</option>
            <option name="table3" value="3">WTW8120HW</option>
        </optgroup>
    </select>
    <select class="selectpicker" data-style="btn-info" name="selectpicker2">
        <optgroup label="Select Device">
            <option name="" value="0">Select Device</option>
            <option name="table2" value="2">GTW840CSNWS</option>
            <option name="table3" value="3">WTW8120HW</option>
        </optgroup>
    </select>
    <input type="submit" />
</form>